@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 .trans{
  transition: all;
  transition-duration: 0.4s;

 }
 .grdark{
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.695203081232493) 0%, rgba(0,0,0,0.7) 100%);
 }